body{background-color:#121212}[x-cloak]{display:none}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-images img {
    width: 100%;
    /* border-radius: 16px; */
    transition: transform 0.3s ease-in-out;
}
.carousel-images img:hover {
    transform: scale(1.05);
}
.carousel-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.carousel-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.carousel-button.active {
    background-color: white;
}
.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}
.carousel-nav:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(40, 40, 40, 0.8);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-nav.left {
    left: 20px;
}
.carousel-nav.right {
    right: 20px;
}

.carousel:hover .carousel-nav {
    opacity: 1;
}